
.email-view {
   
    font-size: 80%;
    background-color: #fff;
    position: fixed;
    right: -90%;
    top: 0px;
    bottom: 0;
    height: 100%;
    width: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 46px 0;
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.2);
    visibility: visible;
    transition: all 0.2s linear;
    z-index: 1500;
}

.email-view-open {
    visibility: visible;
    right: 0;
    transition: all 0.2s linear;
}


#closeBtn {
    cursor: pointer;
    font-size: 1.3em;
}


